.music_background {
  background: url("../images/music_bg2.jpg") no-repeat fixed top center;
  min-height: 550px;
  background-size: cover;
  width: 100%;
}

.home_wrapper,
.producer_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: auto;
}

.home_wrapper h1,
.producer_wrapper h3 {
  align-self: flex-start;
  padding: 20px 0;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
}
.beat_search_form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.action_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
.filled-solid-btn {
  padding: 20px;
  background: var(--banger-yellow);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  align-self: flex-start;
  width: 200px;
  transition: ease-in-out 1s;
}

.filled-solid-btn:hover {
  background: var(--banger-black);
  border: 1px solid var(--banger-yellow);
}

.filled-solid-btn,
.filled-outline-btn {
  text-align: center;
}

.filled-outline-btn {
  padding: 18px;
  border: 1px solid var(--banger-yellow);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  align-self: flex-start;
  width: 200px;
  text-decoration: none;
}

.filled-outline-btn:hover {
  background: var(--banger-yellow);
  color: var(--banger-black);
}
.btn {
  margin-right: 20px;
  text-align: center;
}

.process {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.process_wrapper {
  text-align: center;
  flex-grow: 1;
  width: 33.333%;
  padding: 20px;
}

.process_wrapper svg {
  color: var(--banger-yellow);
}

.large_heading {
  font-size: 18px;
  color: var(--banger-yellow);
  align-self: center;
  width: 100%;
  font-weight: 600;
  display: block;
  text-decoration: none;
}

.small_text {
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 30px;
}

.heading_big_black_text {
  color: white;
  font-weight: 600;
  font-size: 52px;
  padding: 20px 40px 10px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.how_it_works,
.top_producers {
  min-height: 500px;
  width: 100%;
  background: var(--banger-black);
}
.processes {
  margin: auto;
  width: 80%;
}

.top_producers {
  background: #ffffff;
  width: 100%;
  min-height: 400px;
}

.beat_categories {
  background: #121213;
  width: 100%;
  min-height: 400px;
}

.type_beats {
  background: #0b0b0b;
  width: 100%;
  min-height: 400px;
}

.producer_wrapper ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.producer_wrapper ul li {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.producer_wrapper ul li img {
  border-radius: 5%;
  height: auto;
  text-align: center;
}

.producer_wrapper ul li h3 {
  color: var(--banger-yellow);
}

h4.producer_stagename,
h4.category_name {
  text-align: center;
  width: 100%;
}

h4.category_name {
  color: var(--banger-yellow);
}

.img_wrapper {
  width: 100%;
  text-align: center;
  display: block;
}

.producer_wrapper .heading_big_black_text {
  color: var(--banger-yellow);
  font-size: 48px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.categories {
  padding: 20px;
  text-align: center;
  min-height: 50px;
  margin: 0;
}
.categories a {
  text-decoration: none;
  color: var(--banger-black);
}

.categories a:hover {
  color: white;
}

div.large_heading {
  padding: 20px;
  font-size: 22px;
}
.ready_for_music_career {
  background: var(--banger-yellow);
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ready_for_music_career .action_buttons a {
  border: 2px solid var(--banger-black);
  color: var(--banger-black);
}

.ready_for_music_career h1 {
  font-size: 42px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  line-height: 30px;
}

.ready_for_music_career h2 {
  font-size: 38px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  line-height: 30px;
}

.get_started {
  justify-content: center;
}
