.music_background {
  background: url("../images/home.png") no-repeat fixed top center;
  height: 650px;
  background-size: cover;
  width: 100%;
}

.row {
  min-height: 80px;
}

.home_wrapper,
.producer_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: auto;
}

.home_wrapper {
  min-height: 500px;
  justify-content: flex-end;
  align-items: center;
}

.home_wrapper h1,
.producer_wrapper h3 {
  align-self: flex-start;
  padding: 20px 0;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
}
.beat_search_form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.action_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
.filled-solid-btn {
  padding: 20px;
  background: var(--banger-yellow);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  align-self: flex-start;
  width: 200px;
  transition: ease-in-out 1s;
}

.filled-solid-btn:hover {
  background: var(--banger-black);
  border: 1px solid var(--banger-yellow);
}

.filled-solid-btn,
.filled-outline-btn {
  text-align: center;
}

.filled-outline-btn {
  padding: 16px;
  border: 2px solid var(--banger-yellow);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  align-self: flex-start;
  width: 200px;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.filled-outline-btn:hover {
  background: var(--banger-yellow);
  color: var(--banger-black);
}
.btn {
  margin-right: 20px;
  text-align: center;
}

.process {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.process_wrapper {
  text-align: center;
  flex-grow: 1;
  width: 33.333%;
  padding: 20px;
}

.process_wrapper svg {
  color: var(--banger-yellow);
}

.large_heading {
  font-size: 18px;
  color: var(--banger-yellow);
  align-self: center;
  width: 100%;
  font-weight: 600;
  display: block;
  text-decoration: none;
}

.small_text {
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 30px;
}

.heading_big_black_text {
  color: white;
  font-weight: 600;
  font-size: 52px;
  padding: 20px 40px 10px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.how_it_works,
.top_producers {
  min-height: 500px;
  width: 100%;
  background: var(--banger-black);
}
.processes {
  margin: auto;
  width: 70%;
}

.top_producers {
  background: #f4f7fc;
  width: 100%;
  min-height: 400px;
}

.beat_categories {
  background: #121213;
  width: 100%;
  min-height: 450px;
}

.type_beats {
  background: #0b0b0b;
  width: 100%;
  min-height: 400px;
}

.producer_wrapper ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.producer_wrapper ul li {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.producer_wrapper ul li img {
  border-radius: 5%;
  height: auto;
  text-align: center;
}

.producer_wrapper ul li h3 {
  color: var(--banger-yellow);
}

h4.producer_stagename,
h4.category_name {
  text-align: center;
  width: 100%;
}

h4.category_name {
  color: var(--banger-yellow);
}

.img_wrapper {
  width: 100%;
  text-align: center;
  display: block;
}

.producer_wrapper .heading_big_black_text {
  color: var(--banger-yellow);
  font-size: 38px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.categories {
  padding: 20px;
  text-align: center;
  min-height: 50px;
  margin: 20px;
}
.categories a {
  text-decoration: none;
  color: var(--banger-black);
}

.categories a:hover {
  color: white;
}

.large_heading {
  padding: 20px;
  font-size: 22px;
}
.ready_for_music_career {
  background: var(--banger-yellow);
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ready_for_music_career .action_buttons a {
  border: 2px solid var(--banger-black);
  color: var(--banger-black);
}

.ready_for_music_career h1 {
  font-size: 42px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  line-height: 30px;
}

.ready_for_music_career h2 {
  font-size: 38px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  line-height: 30px;
}

.get_started {
  justify-content: center;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: white;
}

.nav-item .nav-link {
  color: var(--banger-yellow);
}

.nav-tabs .nav-link {
  color: var(--banger-yellow);
  font-weight: 600;
  font-size: x-large;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--banger-black) !important;
}

.rcs_slideCon .itemWrapper {
  width: 200px !important;
}

.rcs_sliderBox {
  background: transparent !important;
  height: auto !important;
}

.rcs_slideCon .itemWrapper {
  background: transparent !important;
}

@media (min-width: 320px) {
  .home_wrapper,
  .producer_wrapper {
    width: 90%;
  }

  .home_wrapper h1,
  .producer_wrapper h3 {
    width: 100%;
  }

  .beat_search_form {
    width: 100%;
  }

  .beat_search_form > input {
    outline: 0px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .processes {
    width: 70%;
  }
  .heading_big_black_text {
    padding: 20px 0 10px;
    font-size: 48px;
  }

  .process_wrapper {
    width: 100%;
  }
  .producer_wrapper ul li {
    width: 45%;
    margin: 5px;
  }

  div.large_heading {
    text-align: center;
  }

  .process,
  .process_wrapper {
    padding: 0;
  }

  .ready_for_music_career h1 {
    font-size: 38px;
    text-align: center;
    line-height: 40px;
  }

  .ready_for_music_career h2 {
    font-size: 32px;
  }

  .filled-outline-btn {
    width: 150px;
    margin: 0 10px 0 10px;
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  .companyBrand {
    justify-content: center;
  }
  .App-header ul {
    width: 100%;
    justify-content: center;
  }

  footer {
    min-height: 500px;
    background: var(--banger-black);
  }

  footer .footer_company_brand h3 {
    color: white;
    font-weight: bolder;
  }

  address {
    color: white;
    padding: 20px 20px 20px;
    font-size: 14px;
  }

  footer .footer_company_brand,
  .support,
  .social,
  .morelinks {
    width: 50%;
    padding: 10px;
  }

  .support ul,
  .social ul,
  .morelinks ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .support ul li,
  .social ul li {
    width: 100%;
  }
  .support ul li a,
  .social ul li a,
  .morelinks ul li a {
    color: white;
    padding: 20px;
  }

  .footer_wrapper {
    width: 90%;
    margin: auto;
    display: flex !important;
    min-height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer_company_brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer_company_brand h3 {
    font-size: 14px;
  }

  .form-control-lg {
    font-size: 1.05rem;
  }

  .img_wrapper a {
    font-size: 18px;
  }

  .get_started a:hover {
    background: white;
  }

  .App-logo {
    height: 8vmin !important;
  }

  .signup-steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 20px;
  }
  #a_producer,
  #a_musician,
  #signup {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    width: 90%;
  }
  .companyBrand {
    width: 50%;
    justify-content: flex-start;
  }
  .home_wrapper h1,
  .producer_wrapper h3 {
    font-size: 52px;
  }
  .home_wrapper,
  .producer_wrapper {
    width: 90%;
  }
  .producer_wrapper ul li {
    width: 33.333%;
    margin: 0;
  }

  .process_wrapper {
    width: 50%;
    padding: 20px;
  }

  footer .footer_company_brand,
  .support,
  .social,
  .morelinks {
    width: 25%;
  }

  .footer_wrapper {
    width: 90%;
  }

  .form-control-lg {
    font-size: 1.25rem;
  }

  .processes {
    width: 70%;
  }

  .img_wrapper a {
    font-size: 16px;
  }

  .img_wrapper a:hover {
    color: #f9a20e;
  }

  .App-logo {
    height: 8vmin !important;
  }
}

@media (min-width: 992px) {
  .home_wrapper,
  .producer_wrapper {
    flex-direction: column;
    width: 80%;
  }
  .home_wrapper h1,
  .producer_wrapper h3 {
    width: 50%;
  }

  .beat_search_form {
    padding: 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    align-self: flex-start;
  }

  .producer_wrapper ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .producer_wrapper ul li {
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  nav {
    width: 80%;
    margin: auto;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  .App-header ul {
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .companyBrand {
    width: 30%;
    justify-content: flex-start;
  }
  div.large_heading {
    text-align: left;
  }

  .footer_wrapper {
    width: 60%;
  }

  .fa-chevron-right,
  .fa-chevron-left {
    color: #f9a20e;
  }
}
