.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  list-style: none;
}

.App-header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.App-header ul li {
  margin-right: 10px;
}

.App-header ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.companyBrand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.signup-btn {
  border-radius: 5px;
  background: #f9d241;
  padding: 10px;
}

.login-btn {
  border-radius: 5px;
  border: 1px solid #f9d241;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
