:root {
  --banger-yellow: #f9c502;
  --banger-black: #0b0b0b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
}

.App-logo {
  height: 10vmin !important;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 240px) {
}

.App-header {
  background-color: #000;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(8px + 2vmin);
  color: white;
  list-style: none;
  width: 100%;
}

.App-header ul {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  width: 70%;
}

.App-header ul li {
  margin-right: 10px;
}

.App-header ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.companyBrand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.companyBrand h3 {
  font-size: 18px;
}

.App-link {
  color: var(--banger-black);
}

.signup-btn {
  border-radius: 5px;
  background: var(--banger-yellow);
  padding: 10px;
}

.signup-btn:hover {
  background: black;
  border: 1px solid var(--banger-yellow);
}

.login-btn {
  border-radius: 5px;
  border: 1px solid var(--banger-yellow);
  padding: 10px;
}

.login-btn:hover {
  background: var(--banger-yellow);
}

nav {
  width: 80%;
  margin: auto;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none !important;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 0 !important;
  overflow: hidden;
}
