body {
  margin: 0;
  font-family: "Avenir Roman", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Avenir", sans-serif;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("assets/fonts/AvenirLTStd-Roman.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir", sans-serif;
  font-weight: bolder;
}

/*1rem = 16px*/
h1 {
  font-size: 2.63rem;
}

h5 {
  font-size: 1.2rem;
}
